*{
margin: 0;
padding: 0; 
font-family: 'poppins',sans-serif;
box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:blanchedalmond;
    padding: 20px;
}
.To-Doapp{
    width: 3000px;
    max-width: 540px;
    background-color: indianred;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    
}
.To-Doapp h2{
    color:rgb(54, 6, 6);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 150px;
    font-family:monospace;
    font-style:  italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Times, serif;
    

}
.To-Doapp h2 img{
    margin-left: 20px;
    width: 65px;

}
.row{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: bisque;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;

}
button{
    border:none;
    outline:none;
    padding: 19px 30px;
    background:cadetblue;
    color:rgb(70, 6, 6);
    font-size: 16px;
    cursor: pointer;
    border-radius: 70px;
    margin-right: 0%;   
    
}

ul li{
list-style: none;
font-size: 17px;
font-weight:550;
padding: 12px 8px 12px 50px;
user-select: none;
cursor: pointer;
position: relative;

}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(hey.webp);
    background-size: cover;
    background-position: center;
    top:12px;
    left: 8px;
}
ul li.checked{
    color:rgb(54, 6, 6);
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(download.jpeg);

}
ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font: size 22px; 
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}
ul li span:hover{
    background: #edeef0;
}